<app-income-item></app-income-item>
<hr/>
<div>
    <H2>Income Records</H2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">AMOUNT</th>
                <th scope="col">DATE</th>
                <th scope="col">CATEGORY</th>
                <th scope="col">NOTES</th>
                <th scope="col">ACTION</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let income of incomes; let idx = index">
                <td scope="row">{{ idx+1 }}</td>
                <td scope="row">{{ income.amount }}</td>
                <td scope="row">{{ income.date }}</td>
                <td scope="row">{{ income.category.name }}</td>
                <td scope="row">{{ income.notes }}</td>
                <td scope="row">
                    <button type="submit" class="btn btn-info" (click)="onEditIncome($event, income)">Edit</button>
                    <button type="submit" class="btn btn-danger" (click)="onDeleteIncome($event, income.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>